:root {
    --background-color: #4BC6B9;
    --light-color: #4F0147;
    --dark-color: #ED4D6E;
    --link-color: #4BC6B9;
}

body {
     font-family: "Kode Mono", monospace;
}

main {
    position: relative;
    max-width:1080px;
    margin:0 auto;
}

#head {
    display: flex;
    justify-content: space-between;
}

#head h3 a {
    color: var(--dark-color);
    text-decoration: none;
}
footer {
    text-align: center;
    justify-content: center; 
}

/* our post class */
.post {
        border: 1px solid var(--link-color);
        margin-bottom: 1em;
        padding: .5em 1em;
        img{
            width: 100%;
            height: auto;
            display: block; 
        }
        a { 
            color: var(--link-color);
            background-color: var(--light-color);
            text-decoration: none;
    }
    a:hover {
        text-decoration:underline
    }
}
#post {
    background-color: var(--link-color);
    color: var(--dark-color);
    margin-bottom: 1em;
    padding: 0.5em 1em;
}
.post-title{
    font-size: 1.5em;
}

.special-headline{
    font-weight: 900;
    color:aqua;
}

#unique-headline {
    font-weight:600;
    color:#ED4D6E;
}